// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');



// Variables and Helperts
@import "variables";
@import "helpers";

body,html {
	height: 100vh;
}


// Pages
@import "home";


// Bulma - Alter variables before importing.
@import "bulma";




#imgview {
	display: flex;
	flex-wrap: wrap;
	.imgimg {
		max-width: 200px;
		max-height: 100px;
	}
}
